{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video List</title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
  </head>
  <body>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      <p>{{ message }}</p>
      <span
        class="alert-close"
        onclick="this.parentElement.style.display='none';"
        >&times;</span
      >
    </div>
    {% endfor %} {% endif %}
    <header>
      <div class="logo">
      <img src="{% static 'images/veedeo.svg' %}" alt="Veodeo Logo" />
      </div>
      <div class="nav-buttons">
        {% if is_admin %}
      <form action="{% url 'video_upload' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="create-button">Create Video</button>
      </form>
      {% endif %}
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="logout-button">Logout</button>
      </form>
      </div>
    </header>
    <main>
      <div class="filter-search">
        <div class="breadcrumb">
          <a href="{% url 'video_list' %}">All</a>
        </div>

        <form method="get" action="{% url 'video_list' %}">
          <input
            type="text"
            name="q"
            class="search-input"
            placeholder="Search"
            value="{{ request.GET.q }}"
          />
          <button type="submit" class="search-button">Search</button>
        </form>
      </div>
      <div class="video-grid">
        {% if videos %}
        {% for video in videos %}
        <div class="video-card">
          <div class="thumbnail">
            <a href="{% url 'video_detail' video.pk %}">
              <img src="{{ video.thumbnail.url }}" alt="{{ video.title }}">
            </a>
          </div>
          <p class="title">
            <a href="{% url 'video_detail' video.pk %}">{{ video.title|title }}</a>
          </p>
          <p class="date">{{ video.posted_time_ago }}</p>
        </div>
        {% endfor %}
        {% else %}
        <div class="no-videos">No veedeos uploaded yet :(</div>
        {% endif %}
      </div>
      <div class="pagination">
        {% if is_paginated %}
        <span class="step-links">
          {% if page_obj.has_previous %}
          <button
            onclick="location.href='?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}'"
          >
            Previous
          </button>
          {% else %}
          <button hidden>Previous</button>
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
          <button
            onclick="location.href='?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}'"
          >
            Next
          </button>
          {% else %}
          <button hidden>Next</button>
          {% endif %}
        </span>
        {% endif %}
      </div>
    </main>
  </body>
</html>