{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Video</title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
  </head>
  <body>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      <p>{{ message }}</p>
      <span
        class="alert-close"
        onclick="this.parentElement.style.display='none';"
        >&times;</span
      >
    </div>
    {% endfor %}
    {% endif %}
    <header>
      <a href="{% url 'video_list' %}">
        <div class="logo">
          <img src="{% static 'images/veedeo.svg' %}" alt="Veodeo Logo" />
        </div>
      </a>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="logout-button">Logout</button>
      </form>
    </header>

    {% block content %}
    {% endblock %}
    
  </body>
</html>
